.flashcard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    height: 150px;
    width: 150px;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
    transition: 150ms;
}

.flashcard:hover {
    --translate-y: -4px
}

.flashcard.flip {
    --rotate-y: 180deg;
}

.flashcard .front,
.flashcard .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.flashcard .back {
    transform: rotateY(180deg);
}
